body {
    background-color: #EBEBEB;
}

.site-container {
    margin:0 auto;
}

.header {
}

.banner {
}

.img-banner {
    z-index: -1;
    margin: 0 auto;
}

.avatar {
    margin-top: -75px;
}

.img-avatar {
    margin: 0 auto;
    border: solid #EBEBEB 5px;
    border-radius: 15px;
}

.stats {
    text-align: center;
    /*margin-top: -75px;*/
    /*padding-right: 75px;*/
    /*font-size: 2em;*/
}

#post-count {
    color: darkorange;
}

.post-count-text {
    color: darkorange;
}

#heart-count {
    color: darkred;
}

.span-stats {
    font-size: 1.25em;
}

.container {
    /*width: 960px;*/
    margin: 0 auto;
}

.post {
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.post:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.post-container {
    margin: 0 auto;
    padding: 0.5em;
}

.post-header {
    text-align: right;
}

.post-type {
    float: left;
}

.post-content {
    padding: 1em;
}
.post-content img {
    margin: 0 auto;
}

.post-audio {
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

.post-extlink {
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

.audio-player {
    padding-top: 1em;
    width: 100%;
}

.post-footer {
    text-align: right;
    font-size: 1.25em;
}
.share {
    float: left;
    padding-left: 1em;
}

.share a {
    color: #0078e7;
    text-decoration: none;
}

.heart {
    color: darkred;
    float: right;
    padding-right: 1em;
}

.heart-count-icon {
    color: darkred;
}


.heart-link {
    color: inherit;
    text-decoration: none;
}

.media-icon {
    font-size: 5em;
    margin: 0 auto;
    /*padding-bottom: 0.25em;*/
}

.post-extlink a {
    color: #0078e7;
    text-decoration: none;
}

.long-link {
    overflow-wrap: break-word;
}

.center-text {
    text-align: center;
}

.center-form {
    margin: 0 auto;
    padding-top: 2em;
}

.page-turner {
    margin: 0 auto;
    margin-bottom: 2em;
}

.page-back {
    text-align: left;
}

.page-forward {
    text-align: right;
}

.tagged a {
    color: #0078e7;
    text-decoration: none;
}