@(message: String)

@main("Scatter") {

    <div class="pure-u-1">
        @for(i <- 1 to 100) {
            <div class="pure-g post">
                <div class="pure-u-1 post-header">Thursday, May 25 12:00pm</div>
                <div class="pure-u-1 post-content">
                    <p>Some content goes here. Not a lot, just around 140 characters or so. Maybe a link. Maybe an image. Who knows?</p>
                </div>
                <div class="pure-u-1 post-footer">
                    <span class="share">::share::</span>
                    <span class="heart">::heart::</span>
                </div>
            </div>
        }
    </div>

}
