@(post: Post, isLiked: Boolean)

<div class="pure-g post">
    <div class="pure-u-1 post-header"><span class="post-type">
        @if(post.mediaType == Post.TEXT){
        }
        @if(post.mediaType == Post.IMAGE){
        }
        @if(post.mediaType == Post.AUDIO){
        }
        @if(post.mediaType == Post.VIDEO){
        }
        @if(post.mediaType == Post.EXT_LINK){
        }
    </span> <span class="dt_format">@post.date</span></div>
    <div class="pure-u-1 post-content">
        @if(post.mediaLink.isDefined){
            @if(post.mediaType == Post.IMAGE){
                <a href="@post.mediaLink" target="_blank">
                    <img src="@post.mediaLink" class="pure-img">
                </a>
            }
            @if(post.mediaType == Post.AUDIO){
                <div class="post-audio">
                    <i class="fa fa-file-audio-o media-icon" aria-hidden="true"></i>
                    <audio controls preload="metadata" class="audio-player">
                        <source src="@post.mediaLink" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            }
            @if(post.mediaType == Post.VIDEO){
                <video controls preload="metadata" class="pure-img">
                    <source src="@post.mediaLink" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            @if(post.mediaType == Post.EXT_LINK) {
                <div class="post-extlink">
                    <a href="@post.mediaLink" target="_blank"><i class="fa fa-external-link media-icon" aria-hidden="true"></i></a>
                </div>
            }
        }
    <p>@post.content</p>

        @if(post.mediaLink.isDefined && post.mediaType == Post.EXT_LINK){
        }
    </div>
    <div class="pure-u-1 post-footer">
        <span class="share"><a href="@routes.ApplicationController.post(post.id.getOrElse(0))"><i class="fa fa-chain"></i></a> </span>
        <span class="heart">
            <span id="heart-count-@post.id">@post.nLikes</span>  <i id="heart-icon-@post.id" class="fa fa-heart@if(!isLiked){-o} heart-count-icon" aria-hidden="true"></i>
        </span>
        @if(!isLiked){
            <script type="text/javascript">
                    var link = "#heart-icon-@post.id";
                    $(link).one("click", function (e) {
                        e.preventDefault();
                        $.ajax({url: "@routes.ApplicationController.likePost(post.id.get)", success: function(result){
                            var count = "#heart-count-@post.id";
                            var icon = "#heart-icon-@post.id";
                            $(count).html(result.hearts);
                            $(icon).addClass("fa-heart");
                            $(icon).removeClass("fa-heart-o");
                            updateHeaderStats("@routes.ApplicationController.postStats()");
                        }});
                    });
            </script>
        }
    </div>
</div>