@(post: Post)

<div class="pure-g post">
    <div class="pure-u-1 post-header"><span class="dt_format">@post.date</span></div>
    <div class="pure-u-1 post-content">
        @if(post.mediaLink.isDefined){
            @if(post.mediaType == Post.IMAGE){
                @*img link*@
            }
            @if(post.mediaType == Post.AUDIO){
                @*audio player*@
            }
            @if(post.mediaType == Post.VIDEO){
                @*video player*@
            }
        }
        @if(post.mediaType == Post.TEXT){
            <p>@post.content</p>
        }
        @if(post.mediaLink.isDefined && post.mediaType == Post.EXT_LINK){
            @*external link *@
        }
    </div>
    <div class="pure-u-1 post-footer">
        <span class="share"><a href="@routes.ApplicationController.post(post.id.getOrElse(0))" class="pure-button">Permalink</a> </span>
        <span class="heart">@post.nLikes &hearts;</span>
    </div>
</div>